{% extends "base/layouts/base.html" %}

{% block content %}
    {% with page = "signin" %}
        {% include "base/components/navbar.html" %}
    {% endwith %}

    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <button class="btn btn-lg btn-block btn-primary">
                                Sign In
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}