{% extends "base/layouts/base.html" %}

{% block content %}
    {% with page = "signup" %}
        {% include "base/components/navbar.html" %}
    {% endwith %}
    
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form>
                            {% for field in form %}
                                <div class="form-group {% if loop.index != 1 %} my-4 {% endif %}">
                                    <label class="font-bold">
                                        {{ field.field.label.title() }}
                                    </label>
                                    <input class="form-control form-control-lg"/>
                                </div>
                            {% endfor %}

                            <button class="btn btn-lg btn-block btn-primary">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}